#home {
    padding: 3%;
    display: grid;
    place-items: center;
}

#container {
    display: flex;
    flex-direction:column;
    justify-content: center;

    background-color: rgb(66, 66, 66);
    box-shadow: 10px 5px 5px black;
    width: fit-content;
    padding: 1%; 

    border: solid;
    border-color: black;
    border-radius: 20px;
    
}

.botonRojo, .botonAmarillo, .botonVerde {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    box-shadow: 10px 5px 5px black;
}

.botonRojo {
    background-color: red;
    margin-bottom: 10% ;
}

.botonAmarillo {
    background-color: yellow;
    margin-bottom: 10% ;
}

.botonVerde {
    background-color: green;
}

.botonRojoEncendido, .botonAmarilloEncendido, .botonVerdeEncendido {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    box-shadow: 10px 5px 5px black;
}

.botonRojoEncendido {
    background-color: red;
    margin-bottom: 10% ;
    box-shadow: 0 0 100px red;
}

.botonAmarilloEncendido {
    background-color: yellow;
    margin-bottom: 10% ;
    box-shadow: 0 0 100px yellow;
}

.botonVerdeEncendido {
    background-color: green;
    box-shadow: 0 0 100px rgb(0, 255, 64);
}
